<!-- Home Section -->
<section class="home" id="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-12 ">
        <div class="content mt-2 m-3">
          <h3 class="text-left font-weight-bold text-light animated-text">Empowering Expertise<br>Enriching Futures</h3>
          <p class="text-light animated-text">Welcome to HealthPortal, where we unlock the doors to knowledge and empower medical minds. Dive into a realm of curated resources, connect with seasoned professionals, and embark on a transformative journey of professional growth. Join our community and redefine your path to excellence in healthcare.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<div class="about" id="about">
  <div class="container-fluid py-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="font-weight-bold">About HealthPortal</h2>
        <p class="mt-4 animated-text">Welcome to HealthPortal! In the sanctuary of care, we honor the journey of healing as a sacred partnership. Our guiding light is the unwavering commitment to compassion, where every patient is seen, heard, and valued. We embrace the wisdom of holistic well-being, nurturing the body, mind, and spirit. Together, we forge a path to health, illuminated by trust and guided by empathy</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-4 text-center">
        <div class="about-features">
          <h3 class="font-weight-bold animated-text"> Vision</h3>
          <p class="animated-text">Our mission is to cultivate a holistic sanctuary of healing, where the profound bond between patient and doctor is nurtured through empathy and innovation. We strive to create an accessible, compassionate space that honors the individuality of every patient, guiding each journey with wisdom and care. By embracing the synergy of technology and heartfelt interaction, we aim to illuminate the path to well-being, fostering a community united by trust and dedicated to holistic health</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="about-features">
          <h3 class="font-weight-bold animated-text">Tailored Training</h3>
          <p class="animated-text">Our experts meticulously curate a diverse array of courses, spanning from cutting-edge medical advancements to holistic wellness practices. Let us be your trusted navigators in the realm of lifelong learning, guiding you towards enriching educational journeys tailored to your professional growth.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="about-features">
          <h3 class="font-weight-bold animated-text">Wellness Hub</h3>
          <p class="animated-text">Join our community of doctors.HealthPortal is an excellent choice! It conveys a sense of holistic well-being and community, which aligns perfectly with the vision of your doctors' website.</p>
        </div>
      </div>
    </div>
  </div>
</div>
